h1:hover{
    color: green;
    background-color: aqua;
}
h1{
    color: black;
}
.meddile-person:focus{
    color:blue ;
}
a:visited{
    color: blue;
}
li:nth-child(2n+1){
    color: orange;
}
li:before{
    content:  '  Hello ';
}